<h1>Partners</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>XML Type</th>
    <th>XML URL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.id %></td>
    <td><%= partner.xml_type %></td>
    <td><%= partner.xml_url %></td>
    <td><%= link_to "Show", "#{partner.id}/show" %></td>
    <td><%= link_to "Edit", "#{partner.id}/edit" %></td>
    <td><%= link_to "Remove", partner, method: :delete,
            data: { confirm: "All items belongs this partner will be also removed. Are you sure?" } %></td>
  </tr>
<% end %>
</table>

<br>
<%= link_to "New partner", "create" %>
